@charset "utf-8";
/* CSS Document */

* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
div.wysiwyg ul.panel li a{filter:alpha(opacity=85);}
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { filter:alpha(opacity=100); }
.dataTables_wrapper { _height: 302px; zoom: 1;}
.dataTables_paginate { * width: 50px;}
table.display thead th { * cursor: hand;}
.paging_full_numbers span.paginate_button,  .paging_full_numbers span.paginate_active { *cursor: hand;}
table.display thead th { * cursor: hand;}
.bulleted_list {list-style-position:outside;}
.close_notification { 	top:10px;}
.wrapper{				position:static;	}
#header_bg .wrapper {	position:relative;
						z-index:1;
						}
.visualize{				
margin-top:30px;
top:-20px;}

#main_nav li {display:inline;float:none;}
#main_nav li a {display:inline-block;}

.button, .button2 { 	padding: 4px 10px 5px;}